{% extends "base.html" %}

{% load static %}

{% block content %}
<body>
    <main class="principal">
        <div class="contenedor">
            <h3 class="mensaje-inicio1">1 -<span>Elegi</span> el dia 2-<span>Elegi</span> la hora 3-<span>Elegi</span>la cancha 4-<span>Reserva</span>tu turno</h3>
            
            <h1> Un lugar todas las canchas</h1>
        <div class="centrado-boton">
            <a class="boton" href="canchas/">Ver Canchas</a>
        </div>
    </main>
 </body>
{% endblock %}