{% extends "base.html" %}

{% load static %}

{% block content %}

 <body>
    <main class="principal">
        <div class="contenedor">
            <h2>Somos el Grupo 8 de la Comisión 3 del Informatorio 2020</h2>
            <p>Desarrollamos esta app con el objetivo de facilitar a los fanáticos del fútbol5 la reserva de una cancha en Resistencia Chaco para despuntar el vicio.</p>
              <p>Elige el día, el horario y ve las cachas disponibles.También es un beneficio para los complejos deportivos porque visibiliza la disponibilidad de canchas, reduce los horarios ociosos por falta de jugadores.</p> 
                <p>Esta app es un inicio de un gran proyecto con beneficios para los usuarios finales, los complejos y los desarrolladores de esta app. </p>
        </div>
    </main>
 </body>

{% endblock %}